{% extends 'base.html' %}
{% block content %}

<h1>USER REGISTRATION</h1>
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <label>Username:</label>
    <input type="text" name="username" class="form-control">

    <label>Email:</label>
    <input type="email" name="email" class="form-control">

    <label>Password:</label>
    <input type="password" name="password" class="form-control">

    <label>Confirm Password:</label>
    <input type="password" name="confirm_password" class="form-control">

    <button class="btn btn-primary mt-3">Register</button>
</form>

{% endblock %}

